@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@media(max-width:700px){

    header{
        flex-direction: column;
    }
    header img{
        margin-bottom: 15px;
    }
    section h1{
        text-align: center;
        font-size: 0em;
        padding: 0px 15px;
    }
    section h3{
        text-align: center;
    }
}
:root{
    --fonte:'Open Sans', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    box-sizing: border-box;
    font-family: var(--fonte);
}
nav, ul{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}
a:hover{
    opacity: 1;
}
header{
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff;
}
header img{
    width: 200px;
}
header nav{
    display: flex;
}
header li{
    margin: 0px 15px;
}
header li:first-child{
    margin-left: 0px;
}
header li:last-child{
    margin-right: 0px;
}
header li a {
    color: #191c03;
}

section.hero{
    background-image: url('../img/hero.jpg');
    background-size: cover;
    min-height: 100vh;
    color:#fff ;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
section h1{
    text-align: center;
    font-size: 3.2em;
    padding-bottom: 15px;
}
section h3{
    text-align: center;
    font-size: 2em;
    padding-bottom: 15px;
}
section a.btn{
    background-color: #fff;
    border-radius: 4px;
    color: #191c03 ;
    padding: 20px 50px;
    text-transform: uppercase;
}
section.conheca-o-hotel{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}
section.conheca-o-hotel h3{
    text-align: center;
    font-size: 2em;
    margin-bottom: 35px;
    color: #191c03;
}
section.conheca-o-hotel p {
    max-width: 800px;
    margin-bottom: 35px;
    color: #191c03;
    text-align: center;
}
section.conheca-o-hotel hr{
    width: 200px;
    height: 2px;
    background-color:#191c03 ;
    margin-bottom: 70px;
    border: none;
}
section.conheca-o-hotel ul.grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
section ul.grid li{
    height: 350px;
    padding: 20px;
    border-radius: 4px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}
section ul.grid li.small{
    flex-basis: 40%;
}
section ul.grid li.large{
    flex-basis: 60%;
}
@media (max-width:700px) {
    section ul.grid li.small,section ul.grid li.large{
        flex-basis: 100%;
    }
}
section.caracteristicas{
    background-color: #191c03;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}
section.caracteristicas h3{
    text-align: center;
    font-size: 2em;
    margin-bottom: 35px;
    color: #fff;
}
section.caracteristicas p {
    max-width: 800px;
    margin-bottom: 35px;
    color: #fff;
    text-align: center;
}
.caracteristicas hr{
    width: 200px;
    height: 2px;
    background-color:#fff ;
    margin-bottom: 70px;
    border: none;
}
.caracteristicas .gride{
    width:100%;
    display: flex;

}
.caracteristicas .gride li{
    padding: 0px 30px;
    text-align: center;
}
.caracteristicas .gride span{
    color: #c3c63d;
    font-size: 50px;
    margin-bottom: 30px;
}
.caracteristicas ul.gride li > h4{
    font-size: 1.5em;
    color:#c3c63d ;
    margin-bottom: 30px;
}
.caracteristicas  .gride p{
    color: #fff;
}
@media (max-width:850px) {
    .caracteristicas .gride{
        flex-direction: column;
    }
}

.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}
.newsletter h3{
    text-align: center;
    font-size: 2em;
    margin-bottom: 35px;
    color: #c3c63b;
}
.newsletter p {
    max-width: 800px;
    margin-bottom: 35px;
    color: #c3c63b;
    text-align: center;
}
.newsletter hr{
    width: 200px;
    height: 2px;
    background-color:#c3c63b ;
    margin-bottom: 70px;
    border: none;
}
.newsletter form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    max-width:800px;
}
.newsletter input{
    padding: 15px;
    border: 1px solid #c3c63b;
    border-radius: 4px;
    margin-right: 15px;
    flex: 1;
}
.newsletter button{
    padding: 15px;
    background-color:#c3c63b ;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
@media (max-width:700px) {
    .newsletter input{
        flex-basis: 100%;
        margin-bottom: 15px;
    }
}

footer{
    display: flex;
    flex-direction: column;
    background-color: #191c03;
    padding: 50px 0px;
    align-items: center;
}
footer ul{
    display: flex;
    margin-bottom: 25px;
}
footer ul li{
    margin-right: 10px;
}
footer ul li a{
    color: #c3c63b;
    font-size: 1em;
}
footer p{
    color: #c3c63b;
    text-align: center;
}

